<body>
  <div>
    <%= flash.notice %>
  </div>

  <nav>
    <div>
      <li><a href="/users">All Users</a></li>
    </div>
    <div>
      <li><a href="/photos">All Public Photos</a></li>
    </div>
    <% if current_user %>
      <div>
        <li><a href="/users/sign_out">Sign Out</a></li>
      </div>
      <div>
        <li><a href="/users/edit">Edit Profile</a></li>
      </div>
    <% else %>
      <div>
        <li><a href="/users/sign_in">Sign In</a></li>
      </div>
      <div>
        <li><a href="/users/sign_up">Sign Up</a></li>
      </div>
    <% end %>
  </nav>

  <h1>List of Users</h1>

  <table border="1">
    <thead>
      <tr>
        <th>Username</th>
        <th>Private?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% User.order(:username).each do |each_user| %>
        <tr>
          <td><%= each_user.username %></td>
          <td><%= each_user.private ? 'Yes' : 'No' %></td>

        <% if current_user.present? %>
        <% user_following = current_user.follow_sent.where(:status => "accepted", :recipient_id => each_user.id).first %>
        <% pending_following = current_user.follow_sent.where(:status => "pending", :recipient_id => each_user.id).first %>

        <% if user_following.present?%>
          <td><a href="/delete_follow_request/<%=user_following.id%>">Unfollow</a></td>
        
        <% elsif user_following.nil? && pending_following.present? %>
          <td>Request sent. <a href="/delete_follow_request/<%=pending_following.id%>">Cancel</a></td>   

        <% elsif user_following.nil? && pending_following.nil? %>
          <td><form action="/insert_follow_request" method = "post">
            <input type="hidden" name = "query_recipient_id" id = "query_recipient_field" value = <%=each_user.id%>>
            <input type="hidden" name = "query_sender_id" id = "query_sender_field" value = <%=current_user.id%>>

            <% if each_user.private? %>
              <input type="hidden" name = "query_status" id = "query_status_field" value = "pending">

              <% else %>
              <input type="hidden" name = "query_status" id = "query_status_field" value = "accepted">

            <% end %>
              <button>Follow</button>
            </form>
          </td>
        <% end %>
      
      <% else %>
        <td></td>
      <% end %>

          <td><a href="/users/<%= each_user.username %>">Show Details</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
